body
{
    background-color: #383737 ;
}
h1
{
    color: #3a0173 ;
}
footer
{
    background-color:#3a0173; 
    color:white
}
header{
    background-color:rgb(28, 27, 27); 
    color:#3a0173
}
.gameposter{
    max-width: 60%;
    height: auto;
    margin-bottom: 10px;


}
.gametitle{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}